.rex-nav-main {
    display: none !important;
}

.rex-global-footer {
    margin-left: 0 !important;
}

.rex-ytraduko-overview {
    position: relative;
    table-layout: fixed;
}

.rex-ytraduko-overview thead th,
.rex-ytraduko-overview tbody tr:first-child th,
.rex-ytraduko-overview tbody tr:first-child td {
    position: sticky;
    top: 0;
    background: #fff;
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.rex-ytraduko-overview tbody tr:first-child,
.rex-ytraduko-overview tbody tr:first-child th,
.rex-ytraduko-overview tbody tr:first-child td {
    background: #324050;
    color: #9ca5b2;
}

.rex-ytraduko-overview thead th::after,
.rex-ytraduko-overview tbody tr:first-child th::after,
.rex-ytraduko-overview tbody tr:first-child td::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #dfe3e9;
}

.rex-ytraduko-form table {
    table-layout: fixed;
}

.rex-ytraduko-form tbody {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
}

.rex-ytraduko-form tbody td {
    word-break: break-word;
    overflow-wrap: break-word;
}

.rex-ytraduko-form tbody td code {
    padding: 0;
    background-color: transparent;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .rex-ytraduko-form .col-key {
        width: 15%;
    }
    .rex-ytraduko-form .col-de {
        width: 20%;
    }
    .rex-ytraduko-form .col-en {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .rex-ytraduko-form .col-key {
        width: 10%;
    }
    .rex-ytraduko-form .col-de {
        width: 20%;
    }
    .rex-ytraduko-form .col-en {
        width: 20%;
    }
}
